APP_NAME=Desktop App
APP_ENV=development
APP_LOG_LEVEL=INFO
APP_LOG_JSON=false

DB_URL=sqlite+pysqlite:///./desktop_app.db
DB_ECHO=false

LIQUIBASE_ENABLED=false
LIQUIBASE_COMMAND=liquibase
LIQUIBASE_CHANGELOG_FILE=liquibase/changelog/db.changelog-master.xml
LIQUIBASE_CONTEXTS=common,dev,nonprod
LIQUIBASE_LABELS=release:R2026.04.0
